*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a8a6a2;
}


.tela{
    width: 100%;
    height: 50rem;
    border-bottom: 60px solid #A66948;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#ffa929, #ffd699);
}

.objeto{
    position: absolute;
    bottom: 0;
    width: 8rem;
    animation: objeto-animacao 1.5s infinite linear;
}

.ceu{
    position: absolute;
    width: 40rem;
    animation: ceu-animacao 20s infinite linear;
}


.personagem{
    width: 11rem;
    position: absolute;
    bottom: 0;
}

.pulo{
    animation: pulo 500ms ease-out;
}



@keyframes ceu-animacao{
    from{
        right: -40rem;
    }to{
        right: 100%;
    }
}


@keyframes objeto-animacao{
    from{
        right: -40rem;
    }to{
        right: 100%;
    }
}


@keyframes pulo{
    0%{bottom: 0}
    40%{bottom: 20rem}
    50%{bottom: 20rem}
    60%{bottom: 20rem} 
    100%{bottom: 0}   
}


