*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a8a6a2;
}


.tela{
    width: 100%;
    height: 50rem;
    border-bottom: 60px solid #A66948;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#ffa929, #ffd699);
}

.objeto{
    position: absolute;
    bottom: 0;
    width: 5rem;
}

.ceu{
    position: absolute;
    width: 35rem;
}


.personagem{
    width: 8rem;

    bottom: 0;
}

